extends ./base.jade

block content
    main
        table.table.table-bordered
            thead
                tr
                    th Short name
                    th Name
                    th Opens
                    th Closes
                    th Weight
                for deliverable in deliverables
                    tr
                        td= deliverable.shortname
                        td= deliverable.name
                        td= deliverable.open_date.toDateString()
                        td= deliverable.close_date.toDateString()
                        td
                            if deliverable.weight == 0
                                span Pass/Fail
                            else
                                span= deliverable.weight

                    for component in deliverable.components
                        tr
                            td(colspan='5') &nbsp;&nbsp;&nbsp;&nbsp;
                                span= component.type + ' - '
                                    if component.weight == 0
                                        i Pass/Fail
                                    else
                                        i= component.weight

        br

        h3 Import from json file
        form.form-inline(method='POST', enctype='multipart/form-data')
            div.form-group
                label(for='file') JSON file
                input#file(type='file', name='json_file', accept='.json')
            div.form-group
                button.btn.btn-primary(type='submit') Import
