doctype html
html
    head
        meta(charset="utf-8")
        title SE2 Software Design and Architecture
        link(type='text/css', href='/static/css/normalize.css')
    body
        main
            table(border='1', cellpadding='4')
                thead
                    tr
                        th Deliverable
                        th Opens
                        th Closes
                    for deliverable in deliverables
                        tr
                            td(colspan='3')= deliverable.name + ' - '
                                if deliverable.weight == 0
                                    span Pass/Fail
                                else
                                    span= deliverable.weight + '%'
                        for component in deliverable.components
                            tr
                                td= component.name
                                td= component.open_date.toDateString()
                                td= component.close_date.toDateString()

            br

            p Import from json file
            form(method='POST', enctype='multipart/form-data')
                p
                    input(type='file', name='json_file')
                p
                    input(type='submit', value='Import')
