//
   Created by Azad on 08/07/2015.

div.panel.panel-default
    div.panel-heading
        h4.panel-title= deliverable.name + ' '
            if deliverable.weight == 0
                small - Pass/Fail
            else
                small= '- ' + (deliverable.weight * 100) + '%'

    div(style='padding: 10px 15px 0 15px')
        p#description.collapse.in= deliverable.description.substring(0, 500) + ' '
            a(href='javascript:void(0)', onclick='') [read more...]

        div#accordion.panel-group(role='tablist', aria-multiselectable='true')
            for component in deliverable.components
                div.panel.panel-default
                    div.panel-heading(role='tab')
                        h4.panel-title
                            a(role='button', data-toggle='collapse', href='#component-'+component.rowid)= component.type.charAt(0).toUpperCase() + component.type.slice(1)

                    div.panel-collapse.collapse(id='component-'+component.rowid, role='tabpanel')
                        div.panel-body= component.description

                            if component.type === 'document'
                                form
                                    div.form-group
                                        label(for='component-'+component.rowid+'-file') Select file to upload
                                        input(id='component-'+component.rowid+'-file', type='file')
                                    button.btn.btn-default(type='submit') Upload

                            else if component.type === 'link'
                                form
                                    div.form-group
                                    label(for='component-' + component.rowid + '-link') Paste the link here
                                    input.form-control(id='component-' + component.rowid + '-link', type='text')
                                    button.btn.btn-default(type='submit') Submit
