extends ./base.jade

block override
    -var page = 'Deliverables';

block content
    h3= deliverable.name + ' - '
        if deliverable.weight == 0
            span Pass/Fail
        else
            span= (deliverable.weight * 100) + '%'

    p Opens:&nbsp;
        i= deliverable.open_date.toDateString()
    p Closes:&nbsp;
        i= deliverable.close_date.toDateString()

    for component in deliverable.components
        if component.type == 'document'
            p= component.type
    p
        if is_submitted
            a(href='/download/'+deliverable.shortname+'/'+user.userid) Download
        else
            i Not submitted yet

    if uploaded
        p
            i Upload successful

    form(method='POST',enctype='multipart/form-data')
        input(type='file', name='file', accept='.pdf')
        input(type='submit')